server {
        listen 80;
        listen 443 ssl http2;
        server_name {{ domain }};
        ssl_certificate {{ nginx_path }}/ssl/{{ domain }}/cert.pem;
        ssl_certificate_key {{ nginx_path }}/ssl/{{ domain }}/key.pem;
        root /var/www/{{ domain }}/public_html/;
        index index.html;
}

